.textTitle{
    -fx-fill: linear-gradient(to right, #fcc128, #b85b02);
    -fx-stroke: black;
    -fx-font-width: 2px;
    -fx-font-size: 5em;
    -fx-font-weight: bolder;
    -fx-font-family: "JetBrains Mono";
}
.helpText{
    -fx-fill: black;
    -fx-font-size: 1em;
    -fx-font-weight: bolder;
    -fx-font-family: "JetBrains Mono";
    -fx-text-alignment: inherit;
}
.lbTimer{
    -fx-text-fill: #000e63;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-font-family: fantasy;
}
.lfile{
    -fx-fill: #000936;
    -fx-font-size: 1.2em;
    -fx-font-weight: bolder;
    -fx-font-family: "JetBrains Mono";
    -fx-border-width: 20px;
    -fx-text-alignment: center;
}
.lfile:hover{
    -fx-fill: #000000;
    -fx-font-size: 1.6em;
    -fx-font-weight: bolder;
    -fx-font-family: "JetBrains Mono";
    -fx-text-alignment: center;
}
.win-text{
    -fx-fill: #34e505;
    -fx-stroke: #134904;
    -fx-stroke-width: 1.5;
    -fx-font-width: 2px;
    -fx-font-size: 2.7em;
    -fx-font-weight: bolder;
    -fx-font-family: "JetBrains Mono";
}