.up-direction{
    -fx-background-color: darkseagreen;
    -fx-background-radius: 0 0 10 10;
}
.down-direction{
    -fx-background-color: darkseagreen;
    -fx-background-radius: 10 10 0 0;
}
.left-direction{
    -fx-background-color: darkseagreen;
    -fx-background-radius: 0 10 10 0;
}
.right-direction{
    -fx-background-color: darkseagreen;
    -fx-background-radius: 10 0 0 10;
}
.none-direction{
    -fx-background-color: transparent;
}
.horiz-verti-state{
    -fx-background-color: darkseagreen;
}
.clicked-cell{
    -fx-fill: rgb(0,255,0);
}
.no-clicked-cell{
    -fx-fill: rgba(154, 154, 154, .4);
}
.edit-cell{
    -fx-fill: rgba(154, 154, 154, .6);
}