.paneBG{
    -fx-background-color: transparent;
}
.scroll-pane > .viewport{
    -fx-background-color: transparent;
}
.scroll-pane{
    -fx-background-color: transparent;

}
.fp{
    -fx-border-width: 0.5;
    -fx-border-color: black;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}
.side-pane{
    -fx-pref-width: 137.5;
    -fx-pref-height: 425;
    -fx-background-color: transparent;
}
.save-game{

    -fx-background-color: linear-gradient(to right, #2b5876, #4e4376);

}
.text-field{
    -fx-background-color: linear-gradient(to right, #659999, #2f5555);
    -fx-text-fill: black;
    -fx-font-size: 1.5em;
    -fx-font-family: "JetBrains Mono";
}
.edit-root{
    -fx-background-color: linear-gradient(to right, #1d4350, #a43931);
    -fx-background-insets: 0, 0 1 1 0 ;
}
.bad-save{
    -fx-background-color: linear-gradient(to right, #141e30, #243b55);
}